---
title: 'Pixel Perfect Websites | Code Stitch Web Designs | Denver, CO'
description: 'Meta description for the page'
permalink: '/'
tags: 'sitemap' # content/content.json will make sure that all pages in content/ are marked with a "sitemap" tag, for automatic sitemap generation. As index.html is not in content/, we need to add it here to ensure the root page is included in the sitemap generation
---

{% extends "layouts/base.html" %} {% block head %}
<!-- Critical styles are loaded first -->
<link rel="stylesheet" href="/assets/css/critical.css" />

<!-- If we're in production, defer the rest of the home page styles. In development, always load it. Otherwise the site will break when hot-reload is used. -->
{% if kit.isProduction %}
<link
  rel="preload"
  href="/assets/css/local.css"
  as="style"
  onload="this.onload=null;this.rel='stylesheet'"
/>
<noscript>
  <link rel="stylesheet" href="/assets/css/local.css" />
</noscript>

{% else %}
<link rel="stylesheet" href="/assets/css/local.css" />
{% endif %}

<!-- To ensure proper validation, prevent errors, and encourage developers to check, schema's are an opt-in feature. They're very bespoke and requires some customising  -->
<!-- Uncomment the code below to enable Structured Data, and test it when you deploy to Netlify - https://developers.google.com/search/docs/appearance/structured-data -->
<!-- {% include "components/home-schema.html" %} -->
{% endblock %} {% block body %}

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-1059">
  <div class="cs-container">
    <div class="cs-content">
      <h1 class="cs-title">Crafting Digital Experiences That Inspire</h1>
      <p class="cs-text">
        I design and develop beautiful, functional websites that bring your
        vision to life with clean code and modern design principles.
      </p>
      <a href="" class="cs-button-solid">Request Appointment</a>
    </div>
  </div>

  <!-- Background Image -->
  <picture class="cs-background">
    <source media="(max-width: 600px)" srcset="/assets/images/hero-1.jpg" />
    <source media="(min-width: 601px)" srcset="/assets/images/hero-1.jpg" />
    <img
      decoding="async"
      src="/assets/images/hero-1.jpg"
      alt="mechanic"
      width="2250"
      height="1500"
      aria-hidden="true"
    />
  </picture>
</section>

<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-285">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">Best-In-Class</span>
      <h2 class="cs-title">What We Do</h2>
      <p class="cs-text">
        We are a full service construction company offering everything from
        residential and commercial painting to full home remodels and new home
        additions.
      </p>
    </div>
    <ul class="cs-card-group">
      <li class="cs-item">
        <a href="" class="cs-link">
          <picture class="cs-picture">
            <img
              class="cs-icon"
              src="https://csimg.nyc3.digitaloceanspaces.com/Services/hand.svg"
              loading="lazy"
              decoding="async"
              alt="icon"
              width="38"
              height="52"
              aria-hidden="true"
            />
          </picture>
          <h3 class="cs-h3">Service Number 1</h3>
          <p class="cs-item-text">
            As our client, you may utilize our in-house design capabilities or
            work with other contractors and architects of your choice.
          </p>
        </a>
      </li>
      <li class="cs-item">
        <a href="" class="cs-link">
          <picture class="cs-picture">
            <img
              class="cs-icon"
              src="https://csimg.nyc3.digitaloceanspaces.com/Services/hand.svg"
              loading="lazy"
              decoding="async"
              alt="icon"
              width="38"
              height="52"
              aria-hidden="true"
            />
          </picture>
          <h3 class="cs-h3">Service Number 2</h3>
          <p class="cs-item-text">
            As our client, you may utilize our in-house design capabilities or
            work with other contractors and architects of your choice.
          </p>
        </a>
      </li>
      <li class="cs-item">
        <a href="" class="cs-link">
          <picture class="cs-picture">
            <img
              class="cs-icon"
              src="https://csimg.nyc3.digitaloceanspaces.com/Services/paint.svg"
              loading="lazy"
              decoding="async"
              alt="icon"
              width="38"
              height="52"
              aria-hidden="true"
            />
          </picture>
          <h3 class="cs-h3">Service Number 3</h3>
          <p class="cs-item-text">
            As our client, you may utilize our in-house design capabilities or
            work with other contractors and architects of your choice.
          </p>
        </a>
      </li>
    </ul>
    <a href="" class="cs-button-solid">View Portfolio</a>
  </div>
</section>

{% endblock %}
